<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3">CAPTURE THE FLAG<span class="vim-caret">͏͏&nbsp;</span></h1>
        <div class="lead mb-3 text-mono text-success"><h3>О соревнованиях</h3>
   <br><br>
          ⬥ CTF (capture the flag) - вид соревнований, где Вам необходимо решить ряд предложенных заданий, найти флаг - ответ к заданию - и сдать его в формочку под описанием задачи. Флаг - это строка определенного формата. Обычно начинается со слова flag, далее идут фигурные скобки, внутри которых расположена уникальная фраза из букв,цифр и других символов.
          ⬥ Для участия в соревнованиях необходимо предварительно зарегистрироваться и задать любые интересующие Вас вопросы организаторам.<br>
          ⬥ Во время состязаний необходимо соблюдать правила соревнований, уважительно относиться к организаторам и другим участникам. <br>
          ⬥ Пример флага: kvvu{vash_p3rv1y_f1ag} или иная, смотрите описание задачи.
        </div>
        <div class="text-mono">
          <a href="challenges" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
            Начать игру
          </a>
        </div>
        <div class="text-darkgrey text-mono my-2">Удачи :)</div>
        <p class="mt-5 text-grey text-spacey">
   
          <br>
        </p>
      </div>
    </div>
  </div>
</div>
